#contact-info.split-block
  #map-contact.sblock.sblock-left
  .sblock.sblock-right.padx-50.pady-100.align-center.inverse-all.bg-accent
    h3.font-serif.italic.fg-text-d.mgb-30
      | 127 W. Main Street<br>
      | Jonesborough, TN 37659<br>
    p.fg-text.auto-invert
      a.btn.btn-sm.btn-primary.btn-inflate.font-sans-serif.lts-md.case-u.mgb-10(href='tel:+14239136100') Call Us
      em.case-u.padx-10
      a.btn.btn-sm.btn-primary.btn-inflate.font-sans-serif.lts-md.case-u.mgb-10(href='https://www.google.com/maps/dir//Historic+Eureka+Inn,+127+W+Main+St,+Jonesborough,+TN+37659/@36.2934513,-82.4771637,17.24z/data=!4m12!1m3!3m2!1s0x0:0xa4d32db68927daed!2sHistoric+Eureka+Inn!4m7!1m0!1m5!1m1!1s0x885a63fd91ed1ca5:0xa4d32db68927daed!2m2!1d-82.4746777!2d36.2935356') Get Directions
