#contact
  .container.container-main.auto-invert.pady-block-lg
    .section-title.auto-invert.line-b.align-center
      h2.font-serif-b.fg-text-d Come Experience History.
      p.font-serif-l
        | Blake and Katelyn are standing by to recieve your inquiry. Service never ceases to smile.
    form#contact-form.contact-form(action='https://formspree.io/historiceurekainn@gmail.com', method="POST")
      .alert.alert-success.alert-sent.hidden
        b Thank you!
        |  You have successfully submitted a message and we'll be in touch soon!
      .alert.alert-danger.alert-failed.hidden
        b Uh Oh!
        |  There was an error and your message not sent. Please try again or give us a call at (423) 913-6100.
      .row
        .col-sm-6
          .form-group
            input.hidden(name="_gotcha", type="hidden", style="display: none")
            input.form-control(name='name', placeholder='Full Name', required='', type='text')
            span.glyphicon.form-control-feedback(aria-hidden='true')
          .form-group
            input.form-control(name='phone', placeholder='Phone Number', required='', type='text')
            span.glyphicon.form-control-feedback(aria-hidden='true')
          .form-group
            input.form-control(name='_replyto', placeholder='Email Address', data-error='Enter valid email address', required='', type='email')
            span.glyphicon.form-control-feedback(aria-hidden='true')
          .form-group
            input.form-control(name='_subject', placeholder='Subject', required='', type='text')
            span.glyphicon.form-control-feedback(aria-hidden='true')
        .col-sm-6
          .form-group.message-box.bg-white
            textarea.form-control(name='message', placeholder='How can we help?', required='')
            span.glyphicon.form-control-feedback(aria-hidden='true')
            button#send-message.btn.btn-primary.case-u.font-sans-serif-lg Send message
