#footer.block.bg-forest.inverse-all.footer
  .container.auto-invert.pady-60.pady-10-xs
    .row.row-table.bdb-all.pady-30-all-xs.align-center-xs
      .col-sm-3.align-center.col-vmid.bd-b-xs
        a.fg-text-d.font-sans-serif-b.fs-250.lyt-block.footer-logo(href='/index.html')
          img.logo(src='/images/logo-white.svg', title='Historic Eureka Inn', alt='Historic Eureka Inn')
      .col-sm-4.col-vtop.bd-b-xs.visible-xs
        h5.fg-text-d.font-sans-serif.mgb-20.case-u start your adventure
        p.invert-all.align-center-xs.mgb-0
          a.btn.btn-accent.btn-block.case-u.mgt-20.mgb-10.font-sans-serif-lg-b.lts-md(href='https://clients.innroad.com/hei/property.aspx') Book Now!
          span.fg-text-l.font-serif-l  or call us at
          br.visible-xs
          a.font-serif-b(href='tel:+14239136100')  (423) 913-6100
      .col-sm-5.col-vtop
        h5.fg-text-d.font-sans-serif.mgb-10.case-u
          | Serving travelers since 1900
          br
        p.fg-text-l.font-serif-l
          | The Eureka Inn is the only historic hotel in Tennessee’s oldest town, carefully restored and unobtrusively updated with all of the essential modern amenities.
        ul#social-links.hlinks.hlinks-icons.color-icons-bg-hovered.s-200(data-icon-title='true', data-menu-attr="class='btn-outline-default auto-invert'")
          li
            a.btn-outline-default.auto-invert(href='https://www.facebook.com/thehistoriceurekainn',)
              i.fa-facebook
          li
            a.btn-outline-default.auto-invert(href='http://instagram.com/historic_eureka_inn',)
              i.fa-instagram
          li
            a.btn-outline-default.auto-invert(href='https://twitter.com/Historic_Eureka',)
              i.fa-twitter
          li
            a.btn-outline-default.auto-invert(href='http://www.pinterest.com/pin/create/button/',)
              i.fa-pinterest-p
          li
            a.btn-outline-default.auto-invert(href='http://www.tripadvisor.com/Hotel_Review-g55130-d1529092-Reviews-Historic_Eureka_Inn-Jonesborough_Tennessee.html',)
              i.fa-tripadvisor
          li
            a.btn-outline-default.auto-invert(href='https://www.expedia.com/Jonesborough-Hotels-Historic-Eureka-Inn.h10348783.Hotel-Information?chkin=02%2F21%2F2016&chkout=02%2F22%2F2016&rm1=a2&hwrqCacheKey=120ec024-4d22-4a3c-ba6a-52fd03c8d073HWRQ1455232339749&c=8f5eb943-7d44-463d-a282-67423a911978&',)
              i.fa-plane
      .col-sm-3.col-vtop.bd-b-xs.hidden-xs.right-part
        h5.fg-text-d.font-sans-serif.mgb-20.case-u start your adventure
        p.invert-all.align-center-xs.mgb-0
          a.btn.btn-accent.btn-block.case-u.mgt-20.mgb-10.font-sans-serif-lg-b.lts-md(href='https://clients.innroad.com/hei/property.aspx') Book Now!
          span.fg-text-l.font-serif-l  or call us at
          br.visible-xs
          a.font-serif-b(href='tel:+14239136100')  (423) 913-6100
