#footer.block.bg-forest.inverse-all.footer
  .container.auto-invert.pady-60.pady-10-xs
    .row.row-table.bdb-all.pady-30-all-xs.align-center-xs
      .col-sm-3.align-center.col-vmid.bd-b-xs
        a.fg-text-d.font-cond-b.lts-md.fs-250.lyt-block.footer-logo(href='/index.html')
          img.logo(src='/images/logo-white.svg', title='Historic Eureka Inn', alt='Historic Eureka Inn')
      .col-sm-4.col-vtop.bd-b-xs.visible-xs
        h5.fg-text-d.font-cond.lts-md.mgb-20.case-u(contenteditable='false') start your adventure
        p.invert-all.align-center-xs.mgb-0
          a.btn.btn-accent.btn-block.case-u.lts-sm.mgt-20.mgb-10(href='https://clients.innroad.com/hei/property.aspx') Book Now
          span.fg-text-l.font-cond-l  or call us at
          br.visible-xs
          a.fg-link.font-cond-b(href='tel:+14239136100')  (423) 913-6100
      .col-sm-5.col-vtop
        h5.fg-text-d.font-cond.lts-md.mgb-10.case-u(contenteditable='false')
          | Serving travelers since 1797
          br
        p.fg-text-l.font-cond-l(contenteditable='false')
          | The Eureka Inn is the only historic hotel in Tennessee’s oldest town, carefully restored and unobtrusively updated with all of the essential modern amenities.
        ul#social-links.hlinks.hlinks-icons.color-icons-bg-hovered.s-200(data-icon-title='true', data-menu-attr="class='btn-outline-default auto-invert' data-editor='menu' data-edit='true'")
          li
            a.btn-outline-default.auto-invert(href='https://www.facebook.com/thehistoriceurekainn', data-edit='false', data-editor='menu')
              i.fa-facebook
          li
            a.btn-outline-default.auto-invert(href='http://instagram.com/historic_eureka_inn', data-edit='false', data-editor='menu')
              i.fa-instagram
          li
            a.btn-outline-default.auto-invert(href='https://twitter.com/Historic_Eureka', data-edit='false', data-editor='menu')
              i.fa-twitter
          li
            a.btn-outline-default.auto-invert(href='http://www.pinterest.com/pin/create/button/', data-edit='false', data-editor='menu')
              i.fa-pinterest-p
          li
            a.btn-outline-default.auto-invert(href='http://www.tripadvisor.com/Hotel_Review-g55130-d1529092-Reviews-Historic_Eureka_Inn-Jonesborough_Tennessee.html', data-editor='menu', data-edit='false')
              i.fa-tripadvisor
          li
            a.btn-outline-default.auto-invert(href='https://www.expedia.com/Jonesborough-Hotels-Historic-Eureka-Inn.h10348783.Hotel-Information?chkin=02%2F21%2F2016&chkout=02%2F22%2F2016&rm1=a2&hwrqCacheKey=120ec024-4d22-4a3c-ba6a-52fd03c8d073HWRQ1455232339749&c=8f5eb943-7d44-463d-a282-67423a911978&', data-editor='menu', data-edit='false')
              i.fa-plane
        a.fg-red(href='#contact', data-hidden='true', data-editor='menu-new', data-menu='#social-links') + New Link
      .col-sm-3.col-vtop.bd-b-xs.hidden-xs
        h5.fg-text-d.font-cond.lts-md.mgb-20.case-u(contenteditable='false') start your adventure
        p.invert-all.align-center-xs.mgb-0
          a.btn.btn-accent.btn-block.case-u.lts-sm.mgt-20.mgb-10(href='https://clients.innroad.com/hei/property.aspx') Book Now
          span.fg-text-l.font-cond-l  or call us at
          br.visible-xs
          a.fg-link.font-cond-b(href='tel:+14239136100')  (423) 913-6100
