#general-info.block.bg-primary.inverse-all
  .container.pady-block-xs.auto-invert
    .wpc-50.wpc-100-xs.hcenter.align-center
      h5.fg-accent.lts-sm.case-u= introText
        br
      h2.fs-250-xs.fg-text-d.font-cond-b.case-u.lts-sm.line-b.align-center.mgb-30= headline
