#testimonial-cta.block.bg-cream
  .container.pady-block-lg.pad-0
    .row.row-table
      .col-sm-4.align-center.v-bottom
        img.lyt-iblock.max-w(src='/images/blakat.png', alt='Blake and Katelyn', title='Blake and Katelyn')
        hr.gradient.visible-xs
      .col-sm-5.col-sm-offset-1.v-middle.align-center-xs.padb-95
        .mgb-30.auto-invert.line-b.align-center-xs
          h4.font-sans-serif-l.fg-accent.mgb-20 Kick back and relax...
          h2.font-serif-b.fg-text-d.quote-fix
            | &#8220;We are at your service!&#8221;
        p Come experience history today with you're friendly Jonesborough natives, Blake and Katelyn. They are standing by for your next visit to the Historic Eureka Inn.
        a.btn.btn-sm.btn-primary.btn-inflate.font-sans-serif.lts-md.case-u.auto-invert(href='https://clients.innroad.com/hei/property.aspx')
          span Book Now!
          i.icon-right.ti-angle-right
