nav#navigation.block.navbar.navbar-fixed.navbar-main.inverse.nav-light(data-categ='navbar', data-navbar='sticky', data-del='inverse', data-add='bg-white border-b')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse', aria-expanded='false')
        span.sr-only Toggle navigation
        i.ti-menu
      a.navbar-brand.font-cond-b.lts-md(href='/')
        img.logo(src='/images/logomark-black.svg', title='Historic Eureka Inn', alt='Historic Eureka Inn')
    .collapse.navbar-collapse
      a.navbar-right.navbar-toggle-link.hidden-xs(href='#', data-toggle-nav='#navbar-nav-main')
        i.ti-menu.fs-150
      ul#navbar-nav-main.nav.navbar-nav.navbar-right.case-u.font-reg-mb.lts-md.hide-nav(data-menu-attr="data-scroll='false' data-editor='menu' data-edit='true'")
        li
          a(href='/about.html') About
        li
          a(href='/weddings-events.html') Weddings &amp; Events
        li
          a(href='/blog.html') Blog
        li
          a(href='/contact.html') Contact
        li
          a.btn.btn-cta.btn-accent.btn-book-now.case-u.lts-sm(href='https://clients.innroad.com/hei/property.aspx') Book Now!
