script(src='/js/jquery-latest.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
script(src='/js/jquery.swipebox.min.js')
script(src='/js/jquery.bxslider-rahisified.js')
script(src='/js/jquery.scrollTo.min.js')
script(src='/js/jquery.arctext.js')
script(src='/js/jquery.matchHeight.js')
script(src='/js/validator.min.js')
script(src='/js/fastclick.js')
script(src='/js/main.js')
