#testimonial-cta.block.bg-white
  .container.pady-block-lg.padb-0
    .row.row-table
      .col-sm-6.align-center.v-middle.mgb-30-xs
        img.lyt-iblock.max-w(src='images/steph.png', alt='Satisfied Traveler', title='Satisfied Traveler')
        hr.gradient.visible-xs
      .col-sm-6.v-middle.align-center-xs.padb-95
        .mgb-30.auto-invert.line-b.align-center-xs
          h4.font-cond-l.fg-accent.lts-md.mgb-5 Stephanie from Rhode Island says...
          h2.font-cond-b.fg-text-d.lts-md
            | &#8220;Eureka Inn will always hold a place in our hearts&#8221;
        p
          | To begin making your very own life-long memories, get in touch with either of our friendly innkeepers, Katelyn and Blake.
        a.btn.btn-sm.btn-primary.btn-inflate.case-u.lts-md.auto-invert(href='/contact.html')
          span Let's Talk!
          i.icon-right.ti-angle-right
