#events-hero.split-block
  .sblock.sblock-left.padx-50.pady-100.align-center.auto-invert
    i.fs-400.lc-thumbs-up.mgb-30.fg-accent
    h2.case-u.font-cond-b.fg-text-d.lts-sm We do events
    p.lts-sm.fg-text
      | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
    a.btn.btn-sm.btn-primary.btn-inflate.case-u.lts-md.auto-invert(href='/contact.html') Get a Quote
  .sblock.sblock-right.bg-cover.hidden-xs(style='background:url(images/covers/cover6.jpg)center center')
