#events-hero.split-block
  .sblock.bg-cover.visible-xs.pady-100(style='background:url(images/covers/cover6.jpg)top center')
  .sblock.sblock-left.padx-50.pady-100.align-center.auto-invert
    i.fs-400.lc-thumbs-up.mgb-30.fg-accent
    h2.font-serif-b.fg-text-d We Do Events
    p.fg-text
      | With 12 unique Victorian Inspired rooms, you can rent the entire inn for Family Reunions, Anniversary Parties, Graduation Parties, Murder Mystery Weekends and much more! Our small town boasts a great selection of florists, bakeries, and caterers! What event are you planning?
    a.btn.btn-sm.btn-primary.btn-inflate.font-sans-serif.lts-md.case-u.auto-invert(href='/contact.html') Email us to plan your event!
  .sblock.sblock-right.bg-cover.hidden-xs(style='background:url(images/covers/cover6.jpg)center center')
