#events-hero.split-block
  .sblock.bg-cover.visible-xs.pady-100(style='background:url(images/covers/cover6.jpg)top center')
  .sblock.sblock-left.padx-50.pady-100.align-center.auto-invert
    i.fs-400.lc-thumbs-up.mgb-30.fg-accent
    h2.case-u.font-cond-b.fg-text-d.lts-sm We do events
    p.lts-sm.fg-text
      | With 13 unique period rooms (and those hand-ironed sheets), you can rent the entire inn for a family reunion, graduation party or bristol race. Our little town boasts a selection of great caterers, event planners and options (such as ghost tours and horse and carriage rentals) for your celebration.
    a.btn.btn-sm.btn-primary.btn-inflate.case-u.lts-md.auto-invert(href='/contact.html') Get a Quote
  .sblock.sblock-right.bg-cover.hidden-xs(style='background:url(images/covers/cover6.jpg)center center')
