#general-info.block.bg-primary.inverse-all
  .container.pady-block-lg.auto-invert
    .wpc-50.wpc-100-xs.hcenter.align-center
      h5.fg-accent.case-u.font-sans-serif
        | max. occupancy 75 guests
        br
      h2.fs-250-xs.fg-text-d.font-serif-b.line-b.align-center.mgb-30
        | Beautiful Gardens
        br
        span.amp &amp;
        br
        | Priceless Memories
        br
      p.fg-text
        | Our wide open front and back porches feature comfortable seating tailor-made for relaxation. Just off our back porches overlooking Little Limestone Creek we created a special landscaped private garden with a gazebo and brick patio. All perfect settings for a quiet moment alone, a intimate gathering of friends and family, or anything in-between.
