#weddings-hero.split-block
  .sblock.sblock-left.bg-cover.hidden-xs(style='background:url(images/covers/cover7.jpg)center center')
  .sblock.sblock-right.padx-50.pady-100.align-center.auto-invert
    i.fs-400.lc-heart.mgb-30.fg-accent
    h2.font-serif-b.fg-text-d We Do Weddings 
    p.fg-text
      strong Secure your dates for our FREE Venue!
      |  Book all 12 of our Victorian Inspired rooms and our Courtyard is yours! Why stay inside when you can enjoy the intimacy and natural beauty of our Garden? Our Courtyard and Gazebo make an ideal venue for micro weddings, elopements, vow renewals, proposals, &amp; more. Party under the stars or in the sunshine! Hourly rates from $250 per hour; including 2 restrooms, Outdoor lights, Gazebo, and Brick Courtyard.
    a.btn.btn-sm.btn-primary.btn-inflate.font-sans-serif.lts-md.case-u.auto-invert(href='tel:+14239136100') Call and Book your Wedding Weekend today
