#weddings-hero.split-block
  .sblock.sblock-left.bg-cover.hidden-xs(style='background:url(images/covers/cover7.jpg)center center')
  .sblock.sblock-right.padx-50.pady-100.align-center.auto-invert
    i.fs-400.lc-heart.mgb-30.fg-accent
    h2.case-u.font-cond-b.fg-text-d.lts-sm we do weddings 
    p.lts-sm.fg-text
      | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
    a.btn.btn-sm.btn-primary.btn-inflate.case-u.lts-md.auto-invert(href='/contact.html') Get a Quote
