#weddings-hero.split-block
  .sblock.sblock-left.bg-cover.hidden-xs(style='background:url(images/covers/cover7.jpg)center center')
  .sblock.sblock-right.padx-50.pady-100.align-center.auto-invert
    i.fs-400.lc-heart.mgb-30.fg-accent
    h2.font-serif-b.fg-text-d We Do Weddings 
    p.fg-text
      | Why stay inside when you can enjoy the intimacy and natural surroundings of our garden? Even winter evening weddings reveal a beauty and charm as candlelight and other outdoor lighting transform the garden into a winter wonderland.
    a.btn.btn-sm.btn-primary.btn-inflate.font-sans-serif.lts-md.case-u.auto-invert(href='/contact.html') Get a Quote
