extends light-layout

block content

  - var page      = "404 Error"
  - var introText = "The page you are looking for doesn't exist."
  - var headline  = "404 error"

  include shared/generic-message
  include shared/testimonial-cta
