- var company = "Historic Eureka Inn"
- var description = "The Eureka Inn is the only historic hotel in Tennessee’s oldest town, carefully restored and unobtrusively updated with all of the essential modern amenities."
- var keywords = "Eureka Inn Jonesborough Jonesboro Hotel Historic History"

doctype html
html(lang='en')

  body.font-reg-l.show-editor-hovered(data-spy='scroll', data-target='.navbar')
    .page-loader.align-center.bg-white(style='display: none;')
      .valigner
        .v-middle
          .la-ball-clip-rotate.fg-primary.hcenter
            div
    #page-wrapper.page-wrapper(data-editmode='false')

      include shared/nav-light-left
      block content
      include shared/footer

    include shared/scripts

  //- Moved HEAD to bottom to accomodate page-specific variables (titles)
  include shared/head
