extends light-layout

block content

  - var page      = "Thank You"
  - var introText = "You have successfully submitted a message"
  - var headline  = "Thank You! We'll be in touch soon!"

  include shared/generic-message
  include shared/testimonial-cta
