header#home-hero.block.cover-1.grain.bg-cover.inverse-all
  .container.container-main.align-center.auto-invert.pady-30.pady-20-xs
    p#arc-top.case-u.font-sans-serif.fg-text.mgb-20.lts-lg
      | BUILT • 1797
    h1.case-u.mgb-30
      img.logo(src='/images/logo-white.svg', title='Historic Eureka Inn', alt='Historic Eureka Inn')
      br
    p#arc-bottom.case-u.font-sans-serif.fg-text.mgb-50.lts-lg
      | Jonesborough, tn
      br
    a.btn.btn-cta.btn-accent.font-sans-serif-lg-b.case-u.lts-md(href='https://historiceurekainn.client.innroad.com') book now!
  .photo-cred.font-sans-serif Photo from the Heritage Alliance of Northeast Tennessee and Southwest Virginia
