header#home-hero.block.cover-1.bg-fixed.overlay-black-30pc.inverse-all
  .container.container-main.align-center.auto-invert.pady-30.pady-20-xs
    p#arc-top.case-u.font-cond.lts-xl.fg-text.mgb-20
      | BUILT • 1797
    h1.case-u.lts-sm.mgb-30
      img.logo(src='/images/logo-white.svg', title='Historic Eureka Inn', alt='Historic Eureka Inn')
      br
    p#arc-bottom.case-u.font-cond.lts-xl.fg-text.mgb-50
      | Jonesborough, tn
      br
    a.btn.btn-cta.btn-accent.case-u.lts-sm(href='https://clients.innroad.com/hei/property.aspx') book now!
