#testimonials.block.white-bg.align-center
  .container.container-main.auto-invert.pady-block-lg
    .mgb-40.padb-30.auto-invert.line-b-4.align-center
      h4.font-serif-l.fg-accent.mgb-10
        | Don't just take our word for it,
        br
      h1.font-serif-b.fg-text-d.fs-300.fs-300-xs.no-mg
        | Read What Other Travelers Are Saying!
        br
    ul.hash-list.cols-3.cols-1-xs.pad-30-all.align-center.text-sm
      li.hidden-xs
        img.wpx-100.img-round.mgb-20(src='/images/face1.jpg', title='Satisfied Customer', alt='Satisfied Customer', data-editor='field', data-field='src[Image Path]; title[Image Title]; alt[Image Alternate Text]')
        p.fs-110.font-serif-l
          span
            | "This place is amazing on several counts. It has a long and storied history and has been updated very tastefully with period pieces, fabrics, and floor coverings. One senses history on arrival. If you like feeling like you have stepped back in time, you will thoroughly enjoy this Inn. The Innkeepers and staff welcome you as though you are long lost family or friends. If you are a green living advocate, the Inn is committed to green products, healthy food choices, and cleaning procedures."
        h5.font-serif.mgb-5.fg-text-d.fs-130
          | Woody Johnson
          br
        small.font-sans-serif.case-u.fs-80.fg-text-l Knoxville, TN
      li.hidden-xs
        img.wpx-100.img-round.mgb-20(src='/images/face2.jpg', title='Satisfied Customer', alt='Satisfied Customer', data-editor='field', data-field='src[Image Path]; title[Image Title]; alt[Image Alternate Text]')
        p.fs-110.font-serif-l
          span
            | "This place. This place is quite possibly my new favorite place to stay in the mountains. Blake and Katelyn, our hosts', made us feel like we were treasured friends come to stay the weekend. These two know a few things about being ambassadors. The back gardens were lovely, and the back porch overlooking them was the perfect place for Saturday morning breakfast. Seriously ~ every single thing was exactly as it should be. Very much looking forward to our return trip in the fall."
        h5.font-serif.mgb-5.fg-text-d.fs-130
          | Lisa Stansell
          br
        small.font-sans-serif.case-u.fs-80.fg-text-l Lewisburg, WV
      li
        img.wpx-100.img-round.mgb-20(src='/images/face3.jpg', title='Satisfied Customer', alt='Satisfied Customer', data-editor='field', data-field='src[Image Path]; title[Image Title]; alt[Image Alternate Text]')
        p.fs-110.font-serif-l
          span
            | "The Historic Eureka Inn is so very beautiful. It's extremely well kept, very very clean. We stayed in the Maxwell Room on the second floor overlooking the front porch with all it's rocking chairs, and gorgeous views of downtown. Katelyn and Blake were amazing. They called ahead and had our tickets purchased in advance for an evening play right next door at The Jonesborough Repertory Theater. The morning breakfast was so delicious. We hope to return very soon!"
        h5.font-serif.mgb-5.fg-text-d.fs-130
          | Stacy Parton
          br
        small.font-sans-serif.case-u.fs-80.fg-text-l Dandridge, Tx
