#home-hero {
  background-color: #798d80;
  height: 100vh;
  overflow: hidden;

  @media (min-width: 880px) {
    background-size: 100% !important;
    background-position: bottom right;
    transition: background-size 25s linear;

    &:hover {
      background-size: 114% !important;
    }
  }

  .logo {
    height: 200px;
    height: 40vh;
    width: auto;
  }

  .btn {
    color: darken(skin-color(forest), 10);
    position: relative;
    z-index: 2;
  }
}

.navbar-fixed {

	&.nav-home.inverse .logo {
		opacity: 0;
		transition: opacity 1s;
	}

	.logo {
		opacity: 1;
	}

	a.btn-book-now {
		color: #fff !important;
		outline:none !important;
		border: skin-color(accent);

		&:hover, &:focus, &:active, &:active:focus {
			background-color: skin-color(accent) !important;
			background-image: linear-gradient(to bottom, rgba(#fff, 0.1) 1%, rgba(#fff, 0.1) 100%) !important;
		}
	}

	&.bg-white {
		#navbar-nav-main {
			opacity: 1;
			visibility: visible;
		}
		.navbar-toggle-link {
			display: none;
		}
	}
}
