#home-hero {
  height: 100vh;
  .logo {
    height: 200px;
    height: 40vh;
    width: auto;
  }
}

.navbar-fixed {

	&.inverse .logo {
		opacity: 0;
		transition: opacity 1s;
	}

	.logo {
		opacity: 1;
	}
}
