#rooms .room-photo {
  height: 400px;
  height: 60vh;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center; }

#rooms .bx-controls-direction a {
  margin-bottom: 0; }
  @media (max-width: 767px) {
    #rooms .bx-controls-direction a {
      margin-top: calc(60vh + 78px); }
      #rooms .bx-controls-direction a.bx-prev:after {
        float: right; }
      #rooms .bx-controls-direction a.bx-next:after {
        float: left; } }
