#amentities.block.white-bg.bg-white
  .container.pady-block-lg.auto-invert
    .section-title.auto-invert.line-b
      h2.font-cond-b.fg-text-d.lts-sm Luxury &amp; Authenticity
      p.font-cond-l.lts-sm.fg-text
        | Enjoy the charm and beauty of a 19th century structure without sacrificing modern conveniences.
    .row
      ul.hash-list.cols-3.cols-2-xs.padx-30-all.pady-40-all.pad-20-all-xs.clearfix.align-center
        li
          i.icon.fg-text-l.et-profile-female.fs-300.mgb-20
          h5.fg-text-d.case-u.lts-md.font-cond-b
            | Personalized service
            br
          p
            | Our Innkeepers, Blake and Katelyn are ready to take your Jonesborough Vacation to the next level!
            h6 Stay &amp; Save
            | Stay with us on a Frida or Saturday  Night and you receive $12 Ticket prices from the
            a(href="http://www.jonesboroughtheatre.com/" alt="Jonesborough Repertory Theatre")  Jonesborough Repertory Theatre
            | , located right next door!  You tell us what time you would like to see the show and we will reserve your ticket, you just show up 30 minutes before ShowTime, check-in, and enjoy the show!
            br
            br
            h6 A Romance to Remember
            | We'd love to help you celebrate those special moments in life. Let us set the mood before you arrive with a freshly arranged bouquet of flowers or a beautiful display of rose petals, a box of blissfully decadent truffles, and top it all off with a bottle of Bubbly! Just an additional $75. Take it up a notch and book a Jonesborough Repertory Theatre Singer for a moonlit serenade $25 (one week’s notice required).
        li
          i.icon.fg-text-l.et-map.fs-300.mgb-20(data-edit='false', data-editor='icon')
          h5.fg-text-d.case-u.lts-md.font-cond-b
            | Local Guides &amp; Insights
            br
          p.align-left
            | • Blake and Katelyn are Jonesborough Residents and they certainly know how to make your vacation a memorable! Whether you are looking for a scenic hike and waterfalls, a quaint little shopping excursion, or a delectable bite to eat; they can point you in the right direction.
            br
            | • If your into planning your own adventure, you can always stop by the Jonesborough Visitor’s Center and Museum and blaze your own trail!
            br
            | • The Chester Inn museum is definitely something you don’t want to miss while your passing through Jonesborough.
            br
            | • The Heritage Alliance also offers Walking Tours of our beautiful town, you can take in the sites and get the 411 from the people who know it best!
            br
            | • Special Events are a huge part of what makes our town so enjoyable! Don’t miss out on a fantastic opportunity whether it’s Jonesborough Days during July 4th weekend or Christmas in Olde Towne Jonesborough which is on every Saturday in December leading into Christmas, our town knows how to have a good time!
        li
          i.icon.fg-text-l.et-paintbrush.fs-300.mgb-20
          h5.fg-text-d.case-u.lts-md.font-cond-b
            | Historically Preserved
            br
          p
            | In the spring of 1797 Robert Mitchell and his wife Harriett purchased Lot #19 from the town of Jonesborough. The property was sold to him under the stipulation that a dwelling be constructed to meet the standards required for a property located on Main Street. This two story dwelling was built on a stone foundation, logs were used for floor joists, and the dwelling was of mortise and tenon frame. The interior surfaces were wide plank walls, floors, and ceilings. Four fireplaces provided heat and the exterior was covered with clapboard and the roof was shake shingles.
            br
            | Fast forward 200 years.
            br
            | In the spring of 1997 the hotel was purchased by a small group of residents in Jonesborough. These investors wanted to see this beautiful old hotel restored back to its days of glory. A great deal of time and expense went into the planning process. The challenge was to preserve the charm of the hotel while blending in the amenities expected by the discerning traveler. Three years and almost three million dollars later, the Eureka reopened under the original name, offering the best of the past and the present. All guestrooms are decorated with a combination of period antiques and elegant reproductions.
        li
          i.icon.fg-text-l.et-desktop.fs-300.mgb-20
          h5.fg-text-d.case-u.lts-md.font-cond-b
            | Modern luxuries
            br
          p.align-left
            | • Individual Heat\Air Controls
            br
            | • Acoustically Insulated Rooms
            br
            | • PHARMACOPIA Bath Products
            br
            | • Free Wi-Fi
            br
            | • Cable TV
            br
            | • In-Room Telephone
            br
            | • In-Room Safes
            br
            | • Complimentary Bottled Waters and Soft Drinks
            br
            | • 24/7 Coffee and Tea Station
            br
            | • Locally-Sourced Homemade Sweets
        li
          i.icon.fg-text-l.et-ribbon.fs-300.mgb-20
          h5.fg-text-d.case-u.lts-md.font-cond-b
            | Distinguished Comfort
            br
          p.align-left
            | • Locally Made Restonic Mattresses
            br
            | • Communal Parlor and Sitting Room complete with cozy fireplaces
            br
            | • Three Wide Open Porches
            br
            | • A Beautiful Brick Courtyard with Gardens and a Gazebo
            br
            | • Organic Cotton Linens
        li
          i.icon.fg-text-l.et-desktop.fs-300.mgb-20
          h5.fg-text-d.case-u.lts-md.font-cond-b
            | Privacy &amp; Security
            br
          p.align-left
            | • Each Guest Room has its own Private Bathroom
            br
            | • Upon arrival we give you your very own set of keys to the Inn and to your room, so that you can make yourself at home.
            br
            | • The inn is monitored by a Smart Home security system, so you can rest easy.
