#features.block.bg-primary.inverse-all
  .container.auto-invert.pady-block-md.padb-20
    .row.space-cols
      .col-sm-4.padx-50
        h3.lyt-block.fs-150.font-primary.mgb-30.line-b
          i.icon.et-ribbon.padr-30
          | Distinguished Comfort
        ul.fg-text.padl-17
          li Locally Made Restonic Mattresses
          li Communal Parlor and Sitting Room complete with cozy fireplaces
          li Three Wide Open Porches
          li Organic Cotton Linens
      .col-sm-4.padx-50
        h3.lyt-block.fs-150.font-primary.mgb-30.line-b
          i.icon.et-desktop.padr-40
          | Privacy
          span.amp  &amp;
          |  Security
        ul.fg-text.padl-17
          li Each Guest Room has its own Private Bathroom
          li Upon arrival we give you your very own set of keys to the Inn and to your room, so that you can make yourself at home.
          li The inn is monitored by a Smart Home security system, so you can rest easy.
      .col-sm-4.padx-50
        h3.lyt-block.fs-150.font-primary.mgb-30.line-b
          i.icon.et-desktop.padr-40
          | Modern Luxuries
        ul.fg-text.padl-17
          li Individual Heat &amp; Air Controls
          li Acoustically Insulated Rooms
          li Pharmacopia Bath Products
          li Free Wi-Fi
          li Cable TV
          li In-Room Telephone
          li In-Room Safes
          li Complementary Bottled Waters and Soft Drinks
          li 24/7 Coffee and Tea Station
          li Locally-Sourced Homemade Sweets
