#photo-filler.block.split-block(data-edit='false')
  .sblock.sblock-left.bg-cover.pady-100.hidden-xs(style='background:url(images/food/food1.jpg)center center')
  .sblock.sblock-left.bg-cover.pady-100.hidden-xs(style='background:url(images/food/food2.jpg)center center')
