#photo-filler.block.split-block.border-b.border-t(data-edit='false')
  .sblock.sblock-left.bg-cover.hidden-xs(style='background:url(images/covers/cover8.jpg)center center', data-edit='false', data-editor='field', data-field='style[Background Style]')
  .sblock.sblock-left.bg-cover.hidden-xs(style='background:url(images/covers/cover9.jpg)center center', data-edit='false', data-editor='field', data-field='style[Background Style]')
