#food.block.intro.intro-app.bg-grey(style="background-image: url('/images/covers/cover2.png')")
  .container.container-main
    .row.row-table
      .col-sm-5.img-col.align-center
      .col-sm-7.text-col.v-middle
        .mgb-40.padb-30.auto-invert.line-b-4.align-center-xs
          h3.font-cond-l.fg-accent.lts-md.mgb-10(contenteditable='false')
            | Support local &amp; eat fresh with
            br
          h1.font-cond-b.fg-text-d.lts-md.fs-350.fs-300-xs.no-mg(contenteditable='false')
            | Locally-Sourced Ingredients
            br
        p.fg-text.auto-invert.font-cond-l.fs-120(contenteditable='false')
          | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .cta-buttons.align-center-xs
          .buttons
            a.btn.btn-outline.btn-download.auto-invert(href='https://clients.innroad.com/hei/property.aspx', data-edit='false', data-editor='field', data-field='href[Button URL]')
              i.lc-food(data-field='class[Button Icon Class,icon]')
              span
                small(data-field='html[Small Button Text]') Support local, Eat fresh
                b(data-field='html[Main Button Text]') Book Today!
