#food.block.intro.intro-app.bg-tan(style="background-image: url('/images/covers/cover2.png')")
  .container.container-main
    .row.row-table
      .col-sm-5.img-col.align-center
      .col-sm-7.text-col.v-middle
        .mgb-40.padb-30.auto-invert.line-b-4.align-center-xs
          h3.font-serif-l.fg-accent.mgb-10
            | Support local &amp; eat fresh with
            br
          h1.font-serif-b.fg-text-d.fs-350.fs-300-xs.no-mg
            | Locally-Sourced Ingredients
            br
        p.fg-text.auto-invert.font-serif-l.fs-120
          | When you are a guest at the Historic Eureka Inn, your satisfaction is our goal! We offer anything from Eggs Benedict to Biscuits and Gravy, we are also mindful of special dietary restrictions. Every single day we strive to bring the best local flavors directly to your breakfast table.
        .cta-buttons.align-center-xs
          .buttons
            a.btn.btn-outline.btn-download.auto-invert.font-sans-serif(href='https://clients.innroad.com/hei/property.aspx', data-editor='field', data-field='href[Button URL]')
              i.lc-food(data-field='class[Button Icon Class,icon]')
              span
                small(data-field='html[Small Button Text]') Support local, Eat fresh
                b.case-u.font-sans-serif.lts-md(data-field='html[Main Button Text]') Book Today!
