#rooms
  .bx-pager-round.bx-pager-below.auto-invert.padb-100
    ul.bxslider(bxindex='0', data-call='bxslider', data-bxinit='false', data-options='{slides:1}')
      li
        .align-center
          .room-photo(style="background-image: url('/images/rooms/laura-room.png')")
          .pady-40.mgb-20.align-center.line-b
          h2.font-serif-mb.fg-text-d.mgb-5
            | Premium
            br
          p.font-serif-l.fg-text.padx-100.padx-20-xs.no-mg.fs-130
            | Our Premium Rooms are larger than a Standard or Standard Plus room. They have a larger bathroom and  include one queen-size bed, two queens, or two twins. They also include luxurious down pillows and a refrigerator.
            br
            em.mgt-60 These are the Peddler’s Pad, Peter Miller’s Room, Cook’s Room, Mitchell Room (handicapped accessible, two twins), and Angeline’s Room (two full sized beds).
            br
            br
            a.btn.btn-sm.btn-primary.btn-inflate.case-u.mgb-10.font-sans-serif.lts-md(href='https://clients.innroad.com/hei/property.aspx') Book Now
      li
        .align-center
          .room-photo(style="background-image: url('/images/rooms/maxwell-room.png')")
          .pady-40.mgb-20.align-center.line-b
          h2.font-serif-mb.fg-text-d.mgb-5
            | Standard Plus
            br
          p.font-serif-l.fg-text.padx-100.padx-20-xs.no-mg.fs-130
            | Standard Plus Rooms include one queen size bed and a private bathroom with either a tub/shower combination or a walk-in shower.
            br
            em.mgt-60 These are the Russell Room, Garden View, Maxwell Room, and Tub Room.
            br
            br
            a.btn.btn-sm.btn-primary.btn-inflate.case-u.mgb-10.font-sans-serif.lts-md(href='https://clients.innroad.com/hei/property.aspx') Book Now
      li.active
        .align-center
          .room-photo(style="background-image: url('/images/rooms/mitchell-room.png')")
          .pady-40.mgb-20.align-center.line-b
          h2.font-serif-mb.fg-text-d.mgb-5
            | Standard
            br
          p.font-serif-l.fg-text.padx-100.padx-20-xs.no-mg.fs-130
            | Our Standard Rooms have one full size bed and a private bathroom with either a tub/shower combination or a walk-in shower.
            br
            em.mgt-60 These are the Sample Room, Laura’s Room, and Cottage Room.
            br
            br
            a.btn.btn-sm.btn-primary.btn-inflate.case-u.mgb-10.font-sans-serif.lts-md(href='https://clients.innroad.com/hei/property.aspx') Book Now
