#rooms
  .bx-pager-round.bx-pager-below.auto-invert.padb-100
    ul.bxslider(bxindex='0', data-call='bxslider', data-bxinit='false', data-options='{slides:1}')
      li
        .align-center
          .room-photo(style="background-image: url('/images/rooms/maxwell-room.jpg')")
          .pady-40.mgb-20.align-center.line-b
          h2.font-serif-mb.fg-text-d.mgb-5
            | Premium
            br
          p.font-serif-l.fg-text.padx-100.padx-20-xs.no-mg.fs-130
            | Praesent turpis. Curabitur a felis in nunc fringilla tristique. Vestibulum dapibus nunc ac augue. Nam pretium turpis et arcu. Nulla sit amet est.
            br
            br
            a.btn.btn-sm.btn-primary.btn-inflate.case-u.mgb-10.font-sans-serif.lts-md(href='https://clients.innroad.com/hei/property.aspx') Book Now
      li
        .align-center
          .room-photo(style="background-image: url('/images/rooms/laura-room.jpg')")
          .pady-40.mgb-20.align-center.line-b
          h2.font-serif-mb.fg-text-d.mgb-5
            | Standard Plus
            br
          p.font-serif-l.fg-text.padx-100.padx-20-xs.no-mg.fs-130
            | Praesent turpis. Curabitur a felis in nunc fringilla tristique. Vestibulum dapibus nunc ac augue. Nam pretium turpis et arcu. Nulla sit amet est.
            br
            br
            a.btn.btn-sm.btn-primary.btn-inflate.case-u.mgb-10.font-sans-serif.lts-md(href='https://clients.innroad.com/hei/property.aspx') Book Now
      li.active
        .align-center
          .room-photo(style="background-image: url('/images/rooms/mitchell-room.jpg')")
          .pady-40.mgb-20.align-center.line-b
          h2.font-serif-mb.fg-text-d.mgb-5
            | Standard
            br
          p.font-serif-l.fg-text.padx-100.padx-20-xs.no-mg.fs-130
            | Praesent turpis. Curabitur a felis in nunc fringilla tristique. Vestibulum dapibus nunc ac augue. Nam pretium turpis et arcu. Nulla sit amet est.
            br
            br
            a.btn.btn-sm.btn-primary.btn-inflate.case-u.mgb-10.font-sans-serif.lts-md(href='https://clients.innroad.com/hei/property.aspx') Book Now
