#rooms
  .bx-pager-round.bx-pager-below.auto-invert.padb-100
    ul.bxslider(bxindex='0', data-call='bxslider', data-edit='false', data-editor='bxslider', data-bxinit='false', data-options='{slides:1}')
      li
        .align-center
          .room-photo(style="background-image: url('/images/rooms/maxwell-room.jpg')")
          .pady-40.mgb-20.align-center.line-b
          h2.font-cond-mb.fg-text-d.mgb-5(contenteditable='false')
            | Deluxe Room
            br
          h5.font-cond.fg-text-l.lts-sm.case-u.fs-80(contenteditable='false')
            | $75/night
            br
          p.font-cond-l.fg-text.padx-100.no-mg.fs-130(contenteditable='false')
            | Praesent turpis. Curabitur a felis in nunc fringilla tristique. Vestibulum dapibus nunc ac augue. Nam pretium turpis et arcu. Nulla sit amet est.
      li
        .align-center
          .room-photo(style="background-image: url('/images/rooms/laura-room.jpg')")
          .pady-40.mgb-20.align-center.line-b
          h2.font-cond-mb.fg-text-d.mgb-5(contenteditable='false')
            | Standard Room
            br
          h5.font-cond.fg-text-l.lts-sm.case-u.fs-80(contenteditable='false')
            | $50/night
            br
          p.font-cond-l.fg-text.padx-100.no-mg.fs-130(contenteditable='false')
            | Praesent turpis. Curabitur a felis in nunc fringilla tristique. Vestibulum dapibus nunc ac augue. Nam pretium turpis et arcu. Nulla sit amet est.
      li.active
        .align-center
          .room-photo(style="background-image: url('/images/rooms/mitchell-room.jpg')")
          .pady-40.mgb-20.align-center.line-b
          h2.font-cond-mb.fg-text-d.mgb-5(contenteditable='false')
            | Economy Room
            br
          h5.font-cond.fg-text-l.lts-sm.case-u.fs-80(contenteditable='false')
            | $25/night
            br
          p.font-cond-l.fg-text.padx-100.no-mg.fs-130(contenteditable='false')
            | Praesent turpis. Curabitur a felis in nunc fringilla tristique. Vestibulum dapibus nunc ac augue. Nam pretium turpis et arcu. Nulla sit amet est.
